body {
	background: #f2f0eb;
	font: 16px Helvetica, Arial, Sans-Serif; color: #636363; line-height: 24px;
}

.title h1{
    font: 38px Georgia, Serif;
    text-align: center;
}

.title h2{
    padding: 5px;
    font: 30px Georgia, Serif;
    text-align: center;
    border-bottom: 5px double black;
}

.header {
    display: block;
    text-align: left;
    margin-top: 50px;
    text-decoration: underline overline #b0a99f;
}

.content {
    text-align: justify;
    line-height: 2;
}